<% if @player %>

<h1> Welcome, <%= @player %>. Choose a weapon. </h1>

<form method="post" action="/results">
	<input type="image" src="http://file.vforum.vn/hinh/2014/4/rock.jpg" name="weapon" value="rock">
</form>


<% end %>