<% if @player %>

<h1> Welcome, <%= @player %>. Choose a weapon. </h1>

<form method="post" action="/results">
	<input type="image" src="http://1000awesomethings.files.wordpress.com/2008/08/rock.jpg" name="weapon" value="rock">
	<input type="image" src="http://1000awesomethings.files.wordpress.com/2008/08/scissors.jpg" name="weapon" value="scissors">
</form>


<% end %>