<% if @player %>

<h1> Welcome, <%= @player %>. Choose a weapon. </h1>

<form method="post" action="/results">
	<input type="image" src="http://1000awesomethings.files.wordpress.com/2008/08/rock.jpg" width='400' name="weapon" value="rock">
	<input type="image" src="http://1000awesomethings.files.wordpress.com/2008/08/scissors.jpg" width='407' name="weapon" value="scissors">
	<input type="image" src="http://1000awesomethings.files.wordpress.com/2008/08/paper.jpg" width='400' name="weapon" value="paper">
</form>


<% end %>