<h1><center>Welcome to Rock, Paper, Scissors, Lizard, Spock!</center></h1>

<form method="post" action="/game">
	Enter your name: <input type="text" name="player">
	<input type="submit" value="Let's Play!">
</form>